.main_visual {
    position: relative;

    .main_slide {
        .itm {
            position: relative;
            height: 700px;
            clip-path: ellipse(150% 100% at 50% 0%);
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;

            &.itm01 {
                background-image: url('/../public/images/mainvisual01.jpg');
            }

            &.itm02 {
                background-image: url('/../public/images/mainvisual02.jpg');
            }

            &.itm03 {
                background-image: url('/../public/images/mainvisual03.jpg');
            }

            &::before {
                content: "";
                position: absolute;
                inset: 0 0 0 0;
                background: linear-gradient(rgba($color: $c-b, $alpha: 0.1)10%, rgba($color: $c-b, $alpha: 0.7)100%);
            }
        }
    }

    .slogan {
        position: absolute;
        bottom: 80px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        text-align: center;

        h3 {
            font-size: 56px;
            font-weight: 100;
            color: $c-w;
            margin: 0 0 14px 0;
            font-family: 'Noto Serif KR';
        }

        p {
            font-size: 14px;
            font-weight: 300;
            text-transform: uppercase;
            letter-spacing: 3px;
            color: $c-g;
        }
    }

    .arrows {
        position: absolute;
        top: 50%;
        right: 40px;
        transform: translate(0, -50%);

        display: flex;
        flex-direction: column;
        gap: 16px;

        span {
            display: block;
            font-size: 32px;
            color: $c-w;
            padding: 16px;
            border: 2px solid rgba($color: $c-w, $alpha: 0.5);
            border-radius: 50%;
            user-select: none;
            cursor: pointer;
        }


    }

    &::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1px;
        height: 80px;
        background: $c-main;
    }

}

@media (max-width:768px) {
    .main_visual {
        .main_slide {
            .itm {
                height: 400px;
            }
        }

        .slogan {
            h3 {
                font-size: 48px;
            }

            p {
                letter-spacing: 1px;
            }
        }

        .arrows {
            top: auto;
            bottom: 150px;
            right: 50%;
            width: calc(100% - 48px);
            transform: translate(50%, 0);

            span {
                display: block;
                font-size: 24px;
                color: $c-w;
                padding: 8px;
                border: none;
                border-radius: 0;
                user-select: none;
                cursor: pointer;
            }

            .left {
                position: absolute;
                top: 0;
                left: auto;
                right: 0;
                margin: 0;
            }

            .right {
                position: absolute;
                top: 0;
                left: 0;
                margin: 0;
            }
        }
    }
}



.main_company {
    position: relative;

    .content {
        .tit {
            text-align: center;
            margin: 0 0 48px 0;

            strong {
                position: relative;

                display: block;
                font-size: 72px;
                font-weight: 700;
                font-family: 'Noto Serif KR';
                margin: 0 0 8px 0;
                color: $c-9;

                &::after {
                    content: "";
                    position: absolute;
                    top: 8px;
                    left: calc(50% - 40px);
                    transform: translate(-50%, 0);
                    width: 12px;
                    height: 12px;
                    border-radius: 50%;
                    background: $c-main;
                }
            }

            p {
                text-transform: uppercase;
            }
        }
    }

    .company {
        position: relative;
        display: grid;
        grid-template-columns: 1fr 3fr;
        align-items: center;
        margin: 0 0 24px 0;

        .com_left {

            ul {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                gap: 12px;

                li {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    padding: 16px 24px;
                    text-align: left;
                    background: $c-wb;
                    width: 240px;

                    font-size: 18px;
                    font-weight: 300;
                    border-radius: 32px 0 0 32px;

                    span {
                        display: inline-block;
                        font-size: 14px;
                        font-weight: 700;
                        color: $c-main;
                    }

                    &.on {
                        background: $c-main;
                        color: $c-w;
                        font-weight: 700;
                        width: 300px;

                    }
                }
            }
        }

        .com_right {
            figure {
                border-radius: 8px;
                overflow: hidden;
            }
        }

        .txt {
            width: 100%;
        }
    }

    .company_txt {
        position: relative;
        z-index: 1;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        li {
            position: relative;
            padding: 32px 32px 88px;
            border: 1px solid rgba($color: $c-s1, $alpha: 0.5);
            border-radius: 8px;
            background: $c-w;

            &:not(.txt_tit) {
                &::before {
                    content: "";
                    position: absolute;
                    top: 24px;
                    left: 24px;
                    width: 5px;
                    height: 5px;
                    border-radius: 50%;
                    background: $c-main;
                }
            }

            strong {
                display: block;
                font-size: 18px;
                font-weight: 700;
                margin: 0 0 24px 0;
                color: $c-sub;
            }

            &.txt_tit {
                font-size: 18px;
                background: $c-sub;
                color: $c-g;

                strong {
                    font-size: 40px;
                    margin: 0 0 8px 0;
                    color: $c-w;
                }
            }
        }
    }

    &::after {
        content: "";
        position: absolute;
        bottom: -40px;
        left: 50%;
        transform: translate(-50%, 0);
        width: 1px;
        height: 80px;
        background: $c-main;
    }
}

@media (max-width:768px) {
    .main_company {
        .content {
            .tit {
                margin: 0 0 40px 0;

                strong {
                    font-size: 56px;

                    &::after {
                        top: 6px;
                        left: calc(50% - 32px);
                        width: 10px;
                        height: 10px;
                    }
                }
            }
        }

        .company {
            position: relative;
            display: grid;
            grid-template-columns: 1fr;
            align-items: center;
            margin: 0 0 16px 0;

            .com_left {
                order: 2;

                ul {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    align-items: start;
                    gap: 8px;

                    li {
                        display: flex;
                        gap: 10px;

                        padding: 16px 24px;
                        text-align: center;
                        background: $c-w;
                        width: 100%;

                        font-size: 16px;
                        font-weight: 300;
                        border-radius: 4px;

                        border: 1px solid rgba($color: $c-main, $alpha: 0.3);

                        span {
                            display: inline-block;
                            font-size: 14px;
                        }

                        &.on {
                            justify-content: center;
                            grid-column: 1 / span 2;
                            text-align: center;
                            width: 100%;

                        }
                    }
                }
            }

            .com_right {
                margin: 0 0 16px 0;
            }
        }

        .company_txt {
            grid-template-columns: repeat(1, 1fr);

            li {
                padding: 24px 24px 32px 24px;

                &:not(.txt_tit) {
                    &::before {
                        top: 18px;
                        left: 18px;
                    }
                }

                strong {
                    font-size: 20px;
                    font-weight: 700;
                    margin: 0 0 16px 0;
                }

                &.txt_tit {
                    font-size: 18px;
                    background: $c-sub;
                    color: $c-g;

                    strong {
                        font-size: 32px;
                        margin: 0 0 8px 0;
                        color: $c-w;
                    }
                }
            }
        }
    }
}

.main_information {
    .info_con {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 48px 16px;

        .itm {

            figure {
                width: 100%;
                height: 180px;
                border-radius: 8px;
                overflow: hidden;

                margin: 0 0 32px 0;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            .desc {
                padding: 0 8px;

                strong {
                    display: block;
                    font-size: 20px;
                    font-weight: 700;
                    text-align: center;
                    margin: 0 0 24px 0;
                }

                p {
                    font-size: 16px;
                    line-height: 22px;
                }
            }

        }
    }
}

@media (max-width:768px) {
    .main_information {
        .info_con {
            grid-template-columns: 1fr;
        }
    }
}


.main_slogan {
    position: relative;
    z-index: 1;
    padding: 100px 0 180px 0;
    background-image: url('/../public/images/bg02.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: -1;
        background: rgba($color: $c-b, $alpha: 0.3);
        backdrop-filter: grayscale(0.7);
    }

    .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h2 {
            font-size: 56px;
            font-weight: 700;
            color: $c-w;
            text-transform: uppercase;
            text-align: center;
            text-shadow: 0 0 10px rgba($color: $c-b, $alpha: 0.1);

            width: 650px;
            margin: 0 0 24px 0;
        }

        p {
            font-weight: 100;
            text-align: center;
            color: $c-w;
            letter-spacing: 30px;
        }

    }
}

@media (max-width:768px) {
    .main_slogan {
        .content {
            h2 {
                width: 100%;
            }

            p {
                font-size: 14px;
                letter-spacing: 5px;
            }
        }
    }
}

.main_brand {
    position: relative;
    z-index: 2;
    margin: -100px 0 0;

    &::before {
        content: "";
        position: absolute;
        inset: 100px 0 0 0;
        z-index: -2;
        background: $c-line;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        z-index: -1;
        width: calc(((100vw - 1170px) / 2) + 1240px);
        background: $c-w;
        border-radius: 24px 0 0 0;
        border-left: 1px solid $c-g;
        border-top: 1px solid $c-g;
    }


    .content {
        position: relative;
        display: grid;
        grid-template-columns: 200px 1fr;
        gap: 32px;


        .brand_set {
            display: flex;
            flex-direction: column;
            gap: 32px;
            margin: 0 0 40px 0;

            &>li {
                text-transform: uppercase;
                font-size: 18px;
                font-weight: 600;
                user-select: none;
                cursor: pointer;

                span {
                    position: relative;
                    color: $c-2;
                    transition: 0.5s;
                }

                &.on {
                    span {

                        color: $c-main;

                        &::before {
                            content: "";
                            position: absolute;
                            bottom: -8px;
                            left: 0;
                            width: 80px;
                            height: 4px;
                            background: $c-main;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            top: -8px;
                            right: -14px;
                            width: 8px;
                            height: 8px;
                            border-radius: 50%;
                            background: $c-main;
                        }
                    }

                }

                &:hover {
                    span {
                        color: $c-sub;
                    }
                }
            }
        }

    }

    .brand_story {
        &>li {
            display: none;

            &.on {
                display: grid;
                grid-template-columns: 2fr 1fr;
                gap: 40px;
                height: 100%;
            }
        }
    }

    .b_left {
        order: 2;

        figure {
            overflow: hidden;
            border-radius: 8px;
            box-shadow: 0 0 5px rgba($color: $c-b, $alpha: 0.5);

            img {
                width: 100%;
                height: 350px;
                object-fit: cover;
                transform: scale(1.5);
            }
        }
    }

    .b_right {
        position: relative;
        display: flex;
        flex-direction: column;

        order: 1;

        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: -32px;
            width: 1px;
            height: 100%;
            background: $c-g;
        }

        .title {
            text-align: left;
            text-indent: -2px;
            margin: 0 0 24px 0;
        }

        .txt {
            margin: 0 0 auto 0;

            p {
                margin: 0 0 24px 0;
            }

            a {
                transform: translate(-2px, 0);
            }
        }

        .num {
            display: flex;
            justify-content: space-between;
            gap: 24px;
            padding: 32px 0;
            text-align: center;

            li {
                position: relative;
                flex: 1;

                &:not(:first-child) {

                    &::before {
                        content: "";
                        position: absolute;
                        top: 50%;
                        left: -12px;
                        transform: translate(0, -50%);
                        width: 1px;
                        height: 70px;
                        background: $c-g;
                    }
                }
            }

            span {
                display: block;
                font-size: 16px;
                font-weight: 300;
                margin: 0 0 6px 0;
            }

            strong {
                font-size: 32px;
                font-weight: 700;
                color: $c-main;
            }
        }


    }
}

@media (max-width:768px) {
    .main_brand {
        &::before {
            display: none;
        }

        &::after {
            content: "";
            position: absolute;
            top: 0;
            bottom: auto;
            right: 0;
            z-index: -1;
            width: 100%;
            height: 200px;
            background: $c-w;
            border-radius: 0;
            clip-path: ellipse(100% 100% at 50% 100%);
        }

        .content {
            display: block;

            .brand_set {
                flex-direction: row;
                justify-content: center;

                &>li {
                    span {
                        font-size: 16px;
                        transition: 0s;
                    }

                    &.on {
                        span {
                            color: $c-main;

                            &::before {
                                display: none;
                            }
                        }

                    }

                    &:hover {
                        span {
                            color: inherit;
                        }
                    }
                }
            }
        }

        .brand_story {
            &>li {
                &.on {
                    grid-template-columns: 1fr;
                }
            }
        }

        .b_left {
            order: 0;

            figure {
                img {
                    height: 200px;
                    object-fit: cover;
                }
            }
        }

        .b_right {
            .title {
                text-align: center;
                margin: 0 0 24px 0;
            }

            .txt {
                margin: 0 0 48px 0;
            }

            .num {
                span {
                    font-size: 14px;
                }

                strong {
                    font-size: 24px;
                    font-weight: 700;
                    color: $c-main;
                }
            }
        }
    }
}


.main_product {
    position: relative;

    &::before {
        content: "";
        position: absolute;
        inset: 0 0 0 0;
        z-index: -2;
        background: $c-line;
    }

    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: -40px;
        right: 0;
        z-index: -1;
        width: calc(((100vw - 1170px) / 2) + 1240px);
        background: $c-w;
        border-radius: 0 0 0 24px;
        border-left: 1px solid $c-g;
        border-bottom: 1px solid $c-g;

    }

    .prod {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;

        margin: 0 0 40px 0;

        li {

            a {
                position: relative;
                display: block;
                overflow: hidden;
                border-radius: 8px;

                .img_box {
                    img {
                        height: 350px;
                        object-fit: cover;
                    }
                }

                .desc {
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    text-align: center;
                    transition: 0.3s;
                    padding: 30px 0;
                    background: $c-wb;
                    clip-path: ellipse(100% 100% at 50% 100%);

                    strong {
                        display: block;
                        font-size: 22px;
                        font-weight: 700;
                        margin: 0 0 6px 0;
                        transition: 0.3s;
                    }

                    span {
                        text-transform: uppercase;
                        font-size: 14px;
                        font-weight: 300;
                        color: $c-9;
                    }
                }

            }

            &:hover {
                a {
                    .desc {
                        padding: 50px 0;

                        strong {
                            color: $c-main;
                        }
                    }

                }
            }
        }
    }

    .more {
        display: flex;
        justify-content: center;

        a {
            position: relative;
            display: inline-block;
            font-weight: 500;
            padding: 12px 28px 12px 32px;
            color: $c-6;
            border: 1px solid $c-g;
            transition: 0.5s;

            &::after {
                content: "\e145";
                font-family: 'material symbols outlined';
                font-size: 16px;
                vertical-align: -3px;
                padding: 0 0 0 8px;
            }

            &:hover {
                color: $c-main;
                border: 1px solid $c-main;
            }
        }
    }
}

@media (max-width:768px) {
    .main_product {
        .prod {
            grid-template-columns: 1fr;

            li {
                a {
                    .img_box {

                        img {
                            width: 100%;
                            height: 100px;
                        }
                    }

                    .desc {
                        position: absolute;
                        top: 0;
                        ;
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;


                        transition: 0s;
                        padding: 0;
                        background: none;
                        clip-path: none;
                        box-shadow: none;


                        strong {
                            color: $c-w;
                        }

                        span {
                            color: $c-g;
                        }
                    }

                    &::before {
                        content: "";
                        position: absolute;
                        inset: 0 0 0 0;
                        background: rgba($color: $c-b, $alpha: 0.5);
                    }
                }

                &:hover {
                    a {
                        .desc {
                            padding: 0;

                            strong {
                                color: $c-w;
                            }
                        }

                    }
                }
            }
        }

    }
}

.main_customer {
    position: relative;
    z-index: 1;

    .sns_feed {
        display: grid;
        grid-template-columns: 200px 1fr 1fr 1fr;
        gap: 24px;
        margin: 0 0 24px 0;

        li {
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid $c-line;

            a.sns {
                position: relative;
                display: block;

                &::before {
                    content: "";
                    position: absolute;
                    inset: 0 0 0 0;
                    background: rgba($color: $c-b, $alpha: 0.0);
                    transition: 0.3s;
                }

                &::after {
                    content: "\e3e0";
                    font-family: "material symbols outlined";
                    position: absolute;
                    top: 8px;
                    right: 8px;
                    transform: translate(0, -100%);
                    z-index: 10;
                    font-size: 42px;
                    color: $c-w;
                    text-shadow: 0 0 5px rgba($color: $c-b, $alpha: 0.1);
                    transition: 0.3s;
                }

                &:hover {

                    &::before {
                        background: rgba($color: $c-b, $alpha: 0.3);
                    }

                    &::after {

                        transform: translate(0, 0);
                    }

                }


                figure {

                    img {
                        width: 100%;
                        object-fit: cover;
                    }
                }
            }

            &.insta {
                padding: 24px 0 0;
                border: none;

                span {
                    display: block;
                    font-size: 18px;
                    line-height: 22px;
                    margin: 0 0 56px 0;

                    strong {
                        font-size: 22px;
                        font-weight: 700;
                        color: $c-main;
                    }
                }
            }
        }

    }

    .need_help {
        display: flex;
        gap: 24px;

        &>li {
            flex: 1;

            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 40px;

            width: 100%;
            height: 100px;
            background: $c-s1;
            border-radius: 8px;

            strong {
                display: block;
                font-size: 20px;
                font-weight: 700;
                color: $c-wb;

                span {
                    font-size: 14px;
                    font-weight: 400;
                    color: $c-line;
                }
            }

            a {
                display: inline-block;
                padding: 10px 10px 8px;
                color: $c-wb;
                border: 2px solid $c-w;
                border-radius: 50%;
                transition: 0.5s;

                span {
                    user-select: none;
                    cursor: pointer;
                }
            }


            &:nth-child(2) {
                background: $c-sub;
            }

            &:hover {
                a {
                    transform: translate(10px, 0);
                }
            }
        }
    }
}

@media (max-width:768px) {
    .main_customer {
        background: $c-w;

        &::before {
            width: 100%;
        }

        &::after {
            display: none;
        }

        .sns_feed {
            grid-template-columns: repeat(2, 1fr);
            gap: 16px;
        }

        .need_help {
            flex-direction: column;
            gap: 8px;

            &>li {
                padding: 32px 24px;

                strong {
                    line-height: 24px;

                    span {
                        display: block;
                    }
                }
            }
        }
    }
}